
<div class="content-city">
  <h1><span>Florence</span></h1>
    <p class="description-city">
Palazzo Medici Ricardi, Uffizzi, Ponte Vecchio, Duomo, Giardino di Boboli, Santa Maria Novella, Santa Croce ou San Marco.... “dans ce nom de Florence, tout un rêve de soleil et de lys” écrivait Marcel Proust.</p>


<div class= "position">
43°46′45″ N <br>
11°14′46″ E
</div>

<div class="emblems">
  <img class="blason-image" src="/images/blaz_florence.png" alt="blason" />
</div>


<div class="thumbnails">
  <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
  <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
  <a href="https://placeholder.com"><img src="https://via.placeholder.com/300x150"></a>
</div>

</div>

