
<div>
<h1>Florence</h1>
<br>
<p class="description-ville">
Palazzo Medici Ricardi, Uffizzi, Ponte Vecchio, Duomo, Giardino di Boboli, Santa Maria Novella, Santa Croce ou San Marco.... “dans ce nom de Florence, tout un rêve de soleil et de lys” écrivait Marcel Proust.</p>
 <p class="blason"
      <img class="blason-image" src="/images/blaz_florence.png" alt="blason" />
 </p>

  <p class="blason"
      <img class="blason-image" src="/images/blaz_florence.png" alt="blason" />
 </p>
<p>
 43°46′45″ N
 11°14′46″ E
 </p>

<%=lorem.image('200x300', :background_color => '333', :color => 'fff')%>

</div>
