<div class="content">
  <h1><span>Toscane</span></h1>
  <p class="description">
  La Toscane réalise le  Passage du Moyen Âge à la Renaissance, seul endroit au monde concentrant autant d’oeuvres et de génies. Sa campagne vallonée et ses villes de pierre ont été au seiziècle le lieu du laboratoire de la politique. Deux modèles se sont opposés dans une rivalité historique : la bourgeoisie de Sienne contre principat de Florence.
  </p>

  <ul class="emblems">
    <li>
      <a href="">
        <img class="blason-image" src="/images/blaz_florence.png" alt="" />
        Florence
      </a>
    </li>
    <li>
      <a href="">
        <img class="blason-image" src="/images/blaz_sienne.png" alt="" />
        Sienne
      </a>
    </li>
  </ul>
</div>
